 .left-aside-pane {
    background-color: beige;
    height: 90vh;
    flex-basis: 12%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    padding-top: 20px;
    flex-wrap: wrap;
}

.left-aside-pane ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    text-transform: capitalize;
    background-color:antiquewhite;
    width: 100%;
}

.left-aside-pane button {
    padding: 2px;
    padding-left: 10px;
    /* margin-left: 12px; */
    border: none;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: start;
}

.left-aside-pane button:focus {
    background-color: aquamarine;
}
.left-aside-pane button:active {
    background-color: aquamarine;
}